@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, .sub-header , .sub-sub-header {
  width: 100%;
  height: 100px;
}

body{
  font-family: 'Roboto Mono', monospace;
}

header{
  border-bottom: 1px solid #C0C0C0;
  background-color: #E1E1E1;
}

a {
  text-decoration: none;
}

.container, .promo-bar {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.header-left , .header-right{
  height: 100%;
  width: 50%;
}

.header-left{
  float: left;
}

.fa-globe-europe{
  color: #4F4F4F;
}

.header-right{
  float: right;
}

.first-ul .second-ul .particolary-ul, ul li {
  display: inline-block;
  padding: 0 auto;
  line-height: 30px;
}

.first-ul .second-ul .particolary-ul, ul li a {
  width: 50%;
  height: 100%;
  color: #4F4F4F;
  text-decoration: none;
}

.particolary-ul{
  color: #4F4F4F;
  text-align: right;
}

.log{
  border: 1px solid darkorange;
  border-radius: 5px;
}
.get{
  border: 1px solid darkorange;
  border-radius: 5px;
  background-color: darkorange;
}

/*sub-header*/
.sub-header{
  background-color: #fff;
  text-align: right;
}

.sub-header-left, .sub-header-right{
  height: 100%;
}

.sub-header-left{
  width:30%;
  float:left;
}

img{
  width: 50%;
  height: 100%;
  float: left;
}

.sub-header-right{
  width: 70%;
  float:right;
}

/*promo bar*/
.sub-sub-header{
  background-color: #696969;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.sub-sub-header-left, h4{
  color: #fff;
}

.button-section1{
  border-radius: 5px;
  background-color: white;
  color: #696969;
  text-align: center;
  width: 200px;
  height: 70px;
  margin: 50%,10;
  padding: 20px;
  display: block;
}

/*section homepage*/
.homepage-container, .award-winning-support{
  width: 100%;
  background: linear-gradient(to bottom, #ff9900 0%, #ff0066 100%);
}

.section-homepage{
  width: 70%;
  margin: auto;
}

.homepage1{
  width: 550px;
  margin-right: auto;
  text-align: justify;
  padding: 50px 0;
}

.text-homepage{
  color: #fff;
}

#title{
  font-size: 50px;
}

.paragrafo{
  margin-top: 40px;
  text-align: left;
}

.button-section{
  border-radius: 5px;
  background-color: white;
  color: #696969;
  text-align: center;
  width: 200px;
  height: 70px;
  margin: 20px 0;
  padding: 20px;
  display: block;
}

/*cubo*/
.big-container{
  background-color: #E1E1E1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.img-cubo{
  width: 1200px;
  height: 500px;
  padding: 20px;
}

h1{
  text-align: center;
}

.paragrafo{
  margin-top: 40px;
  text-align: center;
}

/*award*/
.support{
  width: 100%;
  width: 700px;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}
